*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="file"] {
  display: none;
}
.mb-8{
  margin-bottom: 80px !important;
}
/*Custom scroll*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #151E4A;
border-radius: 3px;
}
/*Custom scroll end*/
/*Portal Header Component*/
.container-fluid .row .main-portal {
padding: 0;
margin-bottom: 50px;
}
.container-fluid .row .main-portal .p-header{
  width: 100%;
height: 164px;
background-color: #1A265C;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
display: flex;
justify-content: space-between;
align-items: center;
}
.container-fluid .row .main-portal .p-header .head-logo {
 padding: 50px;
  
}
.container-fluid .row .main-portal .p-header .head-logo .img-link{
 display:inline-block;
  
}
.container-fluid .row .main-portal .p-header .head-text{
  width: 219px;
  height: 36px;
  
}
.container-fluid .row .main-portal .p-header .head-text h5{
  
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F4F5FC;
}
.container-fluid .row .main-portal .p-header .head-portal_back {
  padding: 50px;
}
.container-fluid .row .main-portal .p-header .head-portal_back a{
  width: 227px;
  height: 54px;
  background: #F4F5FC;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #1A265C;
  text-align: center;
  line-height: 54px;
}
.container-fluid .row .main-portal .p-header .head-portal_back a .log-out{
  margin-left: 5px;
}
/*Portal Header Component End*/
/*Faculty , Depertament Component*/
.container-fluid .row .main-portal .manipulation{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.container-fluid .row .main-portal .manipulation .fac_dep{
  display: flex;
}
.css-1t8y0t9-control,.css-1vp9nu5-control {
  width: 271px;
  height: 58px;
  background: #1A265C !important;
  margin-right: 40px;
}
/*Faculty , Depertament Component End*/
/*Table Component*/
.container-fluid .row .main-portal .custom-table{
  padding: 0px 50px;
  margin-bottom: 80px;
}
.container-fluid .row .main-portal .custom-table .table{
  padding: 0px 50px;
  margin-bottom: 0 ;
}
.container-fluid .row .main-portal .custom-table .table-head{
  padding: 17px 31px 17px 17px; 
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #1A265C;
}
.container-fluid .row .main-portal .custom-table .table-body{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #38547B;
}
.container-fluid .row .main-portal .custom-table .table-data{
  padding: 20px; 
}
/*Table Component End*/
/*Pagination Component*/
.container-fluid .row .main-portal .custom-pagination{
  position: relative;
height: 57px;

}
.container-fluid .row .main-portal .custom-pagination .pagination-lists{
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 0px;
background: #1A265C;
border: 1px solid #1A265C;
border-radius: 5px;
padding: 0;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .page-nav{
  display: flex;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .page-nav .pagination-list{
  padding: 15px;
  display: flex;
  align-items: center;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .page-nav .current-page{
  color: rgb(188, 188, 188);
  display: flex;
  align-items: center;
  margin: 0px 10px;
  font-size: 18px;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .page-nav .pagination-list .custom-navigation{
  text-decoration: none;
font-weight: 800;
font-size: 18px;
display: flex;
align-items: center;
text-align: center;
color: #BCBCBC;
line-height: 22px;
cursor: pointer;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .input_enter-nav{
  display: flex;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .input_enter-nav .enter-page{
  width: 39px;
  height: 31px;
  border: 1px solid #F4F5FC;
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: white;
  padding: 4px;
}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .input_enter-nav .page_nav-title{
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #BCBCBC;

}
.container-fluid .row .main-portal .custom-pagination .pagination-lists .input_enter-nav .input_enter{
padding: 11px;
display: flex;
    align-items: center;
}
/*Pagiantion Component End*/